<%= simple_form_for(@guideline, html: {class: "form-horizontal"}) do |f| %>
  <% if @guideline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@guideline.errors.count, "error") %> prohibited this guideline from being saved:</h2>

      <ul>
      <% @guideline.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <%= f.input :title, label: 'Title (e.g. Asthma for under 12 months)' %>
  <%= f.input :specialty, as: :select, collection: @specialties %> 
  <%= f.input :hospital, label: 'Organisation/Hospital' %>
  <%= f.input :content, as: :string, label: 'Link' %>
 



  <div class="form-actions">
    <%= f.button :submit, :class => "btn btn-info btn-large" %>
  </div>
<% end %>
