<div class="page-header">
  <h1>All of the Guidelines</h1>
</div>

<%= link_to "Add a New Guideline", new_guideline_path, class: "btn btn-success" %>

<% @guidelines.each do |guideline| %>

<div class="guideline">
  
<strong><%= guideline.title %></strong>
<p><%= guideline.content %></p>
<p><%= guideline.hospital %></p>
<p><em>Added by <%= guideline.user.profile_name %></em></p>


	<div class="meta">
	  <%= link_to time_ago_in_words(guideline.created_at) + " ago", guideline %>

	  <span class="admin">
	   | <%= link_to "Edit", edit_guideline_path(guideline) %> |
	    <%= link_to "Delete", guideline, method: :delete, data: { confirm: "Are you sure you want to delete this guideline?"} %>
	  </span>

	</div>
</div> 

<% end %>