

<div class="page-header">
  <h1>All Guidelines</h1>
</div>

<%= link_to "Add a New Guideline", new_guideline_path, class: "btn btn-success" %>

<% @guidelines.each do |guideline| %>

<div class="guidelinerow">
	<div class="row">
		<div class="span1">
			 
			 <%= image_tag guideline.user.gravatar_url %> 
		</div>
		<div class="span7">	
			<div class="guideline">
			  
			Title: <strong><%= link_to guideline.title, guideline %></strong>
			<p>Link to guideline: <a href="<%= guideline.content %>"><%= guideline.content %></a> </p>
			<p>Hospital Name: <%= guideline.hospital %></p>



				<div class="meta">
				 
				  Created on <%= guideline.created_at.strftime("%d %b %Y") %>
				 

				  <span class="admin">

				  	<% if guideline.user == current_user %>
				   | <%= link_to "Edit", edit_guideline_path(guideline) %> 
				   |
				    <%= link_to "Delete", guideline, method: :delete, data: { confirm: "Are you sure you want to delete this guideline?"} %>
				    <% end %>
				  </span>

				</div>
			</div> 
		</div>
	</div>
</div>
<% end %>