<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @guideline.title %>
</p>

<p>
  <b>Content:</b>
  <a href="<%= @guideline.content %>"><%= @guideline.content %></a> 
</p>

<p>
  <b>Hospital:</b>
  <%= @guideline.hospital %>
</p>

<p>
  <b>Added by:</b>
  <%= @guideline.user.profile_name %>

</p>

<p>Created on <%= @guideline.created_at.strftime("%d %b %Y") %></p>






<%= link_to 'Edit', edit_guideline_path(@guideline) %> |
<%= link_to 'Back', guidelines_path %>
