<p id="notice"><%= notice %></p>
<%= link_to "Add a New Guideline", new_guideline_path, class: "btn btn-success btn-large" %>
<div class="guidelinerow">

	<div class="row">
		
			<div class="guideline span10">
			  
			<p>Title: <%= link_to @guideline.title, @guideline %> <% if ! @guideline.subtitle.blank?%>- <%= @guideline.subtitle %><% end %></p>
			<strong> <a href="<%= @guideline.content %>", target = '_blank'>Link to guideline</a> </strong>
			<p>Hospital Name: <%= @guideline.hospital %></p>
			<p>Specialty: <%= @guideline.specialty %></p>

			<% if @guideline.user %>
			<p>Added by: <%= @guideline.user.profile_name %></p>
			<% end %>
					<div class="meta">
						 
						 
						 

						  <span class="admin">

						  	<% if @guideline.user == current_user %>
						   | <%= link_to "Edit", edit_guideline_path(@guideline) %> 
						   |
						    <%= link_to "Delete", @guideline, method: :delete, data: { confirm: "Are you sure you want to delete this guideline?"} %>
						    <% end %>
						  </span>

					</div>
			</div>
			<div class="span2">

			<% if current_user %>
				<% if !current_user.favourite_guidelines.select{|f| f.guideline_id==@guideline.id}.any? %>
 					<%= link_to guidelines_favourite_path(guideline_id: @guideline.id, type: "favourite"), method: "get", class: "btn btn-small topic" do%>
 					<i class="icon icon-star"></i> Favourite
 					<% end %>
 				<% end %>
 			<% if current_user.favourite_guidelines.select{|f| f.guideline_id==@guideline.id}.any? %>
 				<%= link_to guidelines_favourite_path(guideline_id: @guideline.id, type: "unfavourite"), method: "get", class: "btn btn-small topic" do%>
 				<i class="icon-star-empty"></i> Unfavourite
 				<% end %>
 			<% end %>
 			</div>

<% end %>