<% @guidelines.each_with_index do |guideline, index| %>

<div class="page-header">

	<% if index==0 %>
	<h1><%= guideline.title %> Guidelines</h1>
	
	<% end %>
</div>

<% end %>

<%= link_to "Add a New Guideline", new_guideline_path, class: "btn btn-success btn-large" %>


<% @guidelines.each do |guideline| %>

<div class="guidelinerow">
	<div class="row">
		
		<div class="span8">	
			<div class="guideline">
			 
	<% if current_user %>
	<%= link_to "favourite",   favourite_guideline_path(guideline, type: "favourite"), method: "post" %>
	<%= link_to "unfavourite", favourite_guideline_path(guideline, type: "unfavourite"), method: "post" %>
<% end %> 
			 <p>

  <b>Title:</b>
  <%= link_to guideline.title, guideline %><% if ! guideline.subtitle.blank? %> - <%= guideline.subtitle %><%end %>
</p>

<p>
  <strong> <a href="<%= guideline.content %>">Link to guideline</a> </strong>
</p>

<p>
  <b>Hospital:</b>
  <%= guideline.hospital %>
</p>
<% if guideline.user %>
<p>
  <b>Added by:</b>
  <%= guideline.user.profile_name %>

</p>
				  
<% end %>

				  

				
			</div> 
		</div>
	</div>
</div>
<% end %>