

<%= link_to "Add a New Guideline", new_guideline_path, class: "btn btn-success" %>


<% @guidelines.each_with_index do |guideline, index| %>

	<% if index==0 %>
	<h1><%= guideline.hospital %> Guidelines</h1>
	
	<% end %>

<% end %>


<% @guidelines.each do |guideline| %>
<div class="guidelinerow">
	<div class="row">
		
		<div class="span8">	
			<div class="guideline">
			  
			 <p>
  <b>Title:</b>
  <strong><%= link_to guideline.title, guideline %></strong>
</p>

<p>
  <b>Content:</b>
  <a href="<%= guideline.content %>"><%= guideline.content %></a> 
</p>

<% if guideline.user %>
<p>
  <b>Added by:</b>
  <%= guideline.user.profile_name %>

</p>
				  
<% end %>
				  

				
			</div> 
		</div>
	</div>
</div>
<% end %>