<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <title>Guidelines for Me</title>
	  <%= stylesheet_link_tag "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= analytics_init if Rails.env.production? %>
	  <!-- not necessary as stylesheet link tag will include this -->
	  <link href="../assets/bootstrap-responsive.css" rel="stylesheet">
	  <%= csrf_meta_tags %>
	  <script type="text/javascript">
			function clearDefault(el) {
				if (el.defaultValue==el.value) el.value = ""
			}

			function clearText(){
		    search = $('.search-query');
		    if (search.defaultValue==search.value)
		    search.value = ""
			}

			$(document).ready(function() {
			    $('.collapse').collapse();
			});
		</script>
		<!-- I have replace the HTML5 shiv with modernizer - a nice javascript library that is 'SHIV on steroids'! -->
		<!-- usually helps with IE issues -->
		<!-- I have placed it in the js directory and it will be autoloaded by the asset pipeline -->
	</head>

	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
       			<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
	      	</a>

					<% if Guideline.count % 100 ==0 %>
						<%= link_to "#{Guideline.all.count}" " guidelinesforme - yay!", guidelines_path, :class => 'brand' %>
					<% else %>
						<%= link_to "#{Guideline.count}" " guidelinesforme!", guidelines_path, :class => 'brand' %>
					<% end %>

					<div class="nav-collapse in collapse">
						<ul class="nav">
							<li class="dropdown">
	   					 	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				      		List by...
				      		<b class="caret"></b>
				    		</a>
					    	<ul class="dropdown-menu">
									<li><%= link_to "...Topic", topics_path %></li>
									<li><%= link_to "...Organisation", hospitals_path %></li>
									<!--<li><%= link_to "...Country", countries_path %></li> -->
									<li><%= link_to "...Specialty", specialties_path %></li>
								</ul>
							</li>

							<% if user_signed_in? %>
								<li><%= link_to "Favourites", favourites_path %></li>
							<% else %>
								<li><%= link_to "Favourites", register_path %></li>
							<% end %>

							<!--<li><%= link_to "Activity Feed", activities_path %></li>-->
						</ul><!-- .nav  -->

						<ul class="nav pull-right">
							<li class="dropdown">
	   					  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
					      	<% if user_signed_in? %>
					      		<%= current_user.first_name %>
					      	<% else %>
					      		Log in or Sign up
					      	<% end %>
					      	<b class="caret"></b>
					    	</a>
						    <ul class="dropdown-menu">
					      	<% if user_signed_in? %>
										<li ><%= link_to "Edit profile", edit_path %></li>
										<li> <%= link_to "Log out", logout_path %></li>
									<% else %>
										<li><%= link_to "Log in", login_path %></li>
										<li><%= link_to "Sign Up", register_path %></li>
									<% end %>
									<li><%= link_to "About us", about_path %></li>
								</ul><!-- .dropdown-menu -->
							</li><!-- .dropdown -->
						</ul><!-- .nav .pull-right  -->

						<%= form_tag guidelines_path, :class => 'navbar-search', :onSubmit=>"clearText(this)",:method => :get do %>
	    				<%= text_field_tag :search, params[:search], :class => 'search-query input-small', :placeholder=>"Search", :ONFOCUS=>"clearDefault(this)" %>
	    			<% end %>
					</div><!-- .nav-collapse .in .collapse -->
				</div><!-- .container -->
			</div><!-- .navbar-inner -->
		</div><!-- .navbar .navbar-invers -->

		<div class="container">
			<% flash.each do |type, message| %>
				<div class="alert <%= flash_class type %>">
					<button class="close" data-dismiss="alert">x</button>
					<%= message %>
				</div>
			<% end %>
		</div><!-- .container -->

		<div class="container">
			<%= yield %>
		</div><!-- .container -->
	</body>
</html>
