<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
	<%= analytics_init if Rails.env.production? %>
  <title>Guidelines for Me</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
function clearDefault(el) {
if (el.defaultValue==el.value) el.value = ""
}
function clearText(){
    search = $('.search-query');
    if (search.defaultValue==search.value)
    search.value = ""
}
</script>
</head>
<body>

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
		<% if Guideline.count % 100 ==0 %>
			<%= link_to "#{Guideline.count}" " guidelinesforme available - yay!", guidelines_path, :class => 'brand' %>
		<% else %>

				<%= link_to "#{Guideline.count}" " guidelinesforme available!", guidelines_path, :class => 'brand' %>
		<% end %>
				
				<ul class="nav">
					 <li class="dropdown">
   					 <a href="#" class="dropdown-toggle" data-toggle="dropdown">
			      List guidelines by...
			      <b class="caret"></b>
			    </a>
			    <ul class="dropdown-menu">
			      
			  </li>
					
					<li><%= link_to "...Topic", topics_path %></li>
					<li><%= link_to "...Hospital", hospitals_path %></li>
					<li><%= link_to "...Specialty", specialties_path %></li>
				
				<% if user_signed_in? %>
				</ul>
					<li><%= link_to "Favourites", favourites_path %></li>
				</ul>
				<% else %>	
				</ul>
					<li><%= link_to "Favourites", register_path %></li>
				</ul>
				<% end %>

				<ul class="nav pull-right">

					<li class="dropdown">
   					 <a href="#" class="dropdown-toggle" data-toggle="dropdown">
			      <% if user_signed_in? %>
			      <%= current_user.first_name %>
			      <% else %>
			      Log in or Sign up
			      <% end %>
			      <b class="caret"></b>
			    </a>
			    <ul class="dropdown-menu">
			      
			  
					

					<% if user_signed_in? %>
					<li ><%= link_to "Edit profile", edit_path %></li>
					<li> <%= link_to "Log out", logout_path %></li>
					<li> <%= link_to "My additions", profiles_show_path(id: current_user.profile_name) %></li>
					<% else %>
					<li><%= link_to "Log in", login_path %></li>
					<li><%= link_to "Sign Up", register_path %></li>
				
					<% end %>
					<li><%= link_to "About us", about_path %></li></ul>
				
					
				
				<li class="nav pull-right">
					<%= form_tag guidelines_path, :class => 'navbar-search pull-right', :onSubmit=>"clearText(this)",:method => :get do %>  

    <%= text_field_tag :search, params[:search], :class => 'search-query input-small', :placeholder=>"Search", :ONFOCUS=>"clearDefault(this)" %> <% end %></li>
				</ul>
		
		</div>
	</div>

	<div class="container">
		<% flash.each do |type, message| %>
			<div class="alert <%= flash_class type %>">
				<button class="close" data-dismiss="alert">x</button>
				<%= message %>
	</div>
		<% end %>
		

		<%= yield %>

	</div>
</body>
</html>
