<!DOCTYPE html>
<html>
<head>
	<%= analytics_init if Rails.env.production? %>
  <title>Guidelines for Me</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
		
				<%= link_to "Guidelines", guidelines_path, :class => 'brand' %>
				
				<ul class="nav">
					 <li class="dropdown">
   					 <a href="#" class="dropdown-toggle" data-toggle="dropdown">
			      List guidelines by...
			      <b class="caret"></b>
			    </a>
			    <ul class="dropdown-menu">
			      
			  </li>
					
					<li><%= link_to "...Topic", guidelines_list_path %></li>
					<li><%= link_to "...Hospital", guidelines_listhospital_path %></li>
					<li><%= link_to "...Specialty", guidelines_listspecialty_path %></li>
				
					
				</ul>
					<li><%= link_to "Favourites", favourites_show_path %></li>
				<ul class="nav pull-right">

					<li class="dropdown">
   					 <a href="#" class="dropdown-toggle" data-toggle="dropdown">
			      <% if user_signed_in? %>
			      <%= current_user.first_name %>
			      <% else %>
			      Log in or Sign up
			      <% end %>
			      <b class="caret"></b>
			    </a>
			    <ul class="dropdown-menu">
			      
			  </li>
					

					<% if user_signed_in? %>
					<li ><%= link_to "Edit profile", edit_path %></li>
					<li> <%= link_to "Log out", logout_path %></li>
					<% else %>
					<li><%= link_to "Log in", login_path %></li>
					<li><%= link_to "Sign Up", register_path %></li>
				
					<% end %>
					<li class="<%= 'active' if current_page?(about_path) %>"><%= link_to "About us", about_path %></li>
				
					
				</ul>
					
				</ul>
		
		</div>
	</div>

	<div class="container">
		<% flash.each do |type, message| %>
			<div class="alert <%= flash_class type %>">
				<button class="close" data-dismiss="alert">x</button>
				<%= message %>
	</div>
		<% end %>
		

		<%= yield %>

	</div>
</body>
</html>
